This is the Request trap app!
<% @requests.each do |req| %>
    <p>Date: <%= req.request_date %></p>
    <p>Remote IP: <%= req.remote_ip %></p>
    <p>Scheme: <%= req.scheme %></p>
    <p>Query string: <%= req.query_string %></p>
    <p>Query params: <%= req.query_params %></p>
    <p>Cookies: <%= req.cookies %></p>
    <p>Accept: <%= req.accept %></p>
    <p>Accept Encoding: <%= req.accept_encoding %></p>
    <p>Accept Language: <%= req.accept_language %></p>
    <p>Server Protocol: <%= req.server_protocol %></p>
    <p>Server Software: <%= req.server_software %></p>
    <p>Gateway Interface: <%= req.gateway_interface %></p>
    <p>Request Path: <%= req.request_path %></p>
    <p>HTTP version: <%= req.http_version %></p>
    <p>HTTP host: <%= req.http_host %></p>
    <p>HTTP User Agent: <%= req.http_user_agent %></p>
<% end %>